body {
    padding: 0;
    margin: 0 auto;
}

.wrapper {
    max-width: 1400px;
    margin: 0 auto;
}

.btn {
    outline: none;
    cursor: pointer;
}

a {
    cursor: pointer;
}

.conteiner {
    width: 1024px;
    margin: 0 auto;
    max-width: ;
}

.hidden {
    display: none;
}

.background-wrap--active {
    background-color: #000000;
    opacity: 40%;
    z-index: 10;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.burger-menu {
    display: none;
}

/* Section-name */

.section-name__title {
    text-align: center;
    font-size: 36px;
    font-family: "HelveticaNeueCyr", sans-serif;
    font-weight: bold;
}

.section-name__subtitle {
    margin-top: 10px;
    text-align: center;
    font-size: 20px;
    font-family: "HelveticaNeueCyr", sans-serif;
    font-weight: 300;
}

.section-name__line {
    margin-top: 14px;
    border: none;
    width: 47px;
    height: 5px;
    margin-bottom: 0;
}

.section-name--grey {
    color: #424242;
}

.section-name--white {
    color: #ffffff;
}

.section-name__line--grey {
    background-color: #424242;
}

.section-name__line--white {
    background-color: #ffffff;
}

/* Section-name End */


/* Header */

/* Header Top */

.header-top {
    height: 42px;
    width: 100%;
    background-color: #f0f2f4;
    border-bottom: 1px solid #e2e2e2;
    display: inline-flex;
}

.contacts {
    display: flex;
    justify-content: flex-end;
    height: 100%;
}

.contacts__item {
    display: flex;
    align-items: center;
    margin-left: 40px;
}

.contacts__a {
    margin-left: 8px;
    display: inline-block;
    font-family: "Helvetica", sans-serif;
    font-size: 15px;
    font-weight: normal;
    color: #424242;
    text-decoration: none;
}

.contacts__a:hover {
    color: #1287bf;
}

.fa-contacts {
    font-style: normal;
    font-size: 19px;
    color: #424242;
}

.social-links {
    display: flex;
    align-items: center;
    justify-content: center;
}

.social-links__item {
    margin-left: 12px;
    background-color: #1287bf;
    width: 26px;
    height: 26px;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.social-links__item:hover {
    background-color: #46a1cc;
}

.fa-facebook-f--header {
    font-size: 15px;
    color: #ffffff;
}

/* Header Top End */


/* Header Bottom */

.header-bottom {
    display: flex;
    justify-content: center;
    height: 130px;
    width: 100%;
    background-color: #ffffffff;
}

.header-bottom .conteiner {
    display: flex;
    align-items: center;
}

.logo {
    display: inline;
}

.menu {
    display: flex;
    margin-left: auto;
}

.menu__item {
    font-family: "HelveticaNeueCyr", sans-serif;
    font-weight: bold;
    font-size: 15px;
    color: #424242;
    text-decoration: none;
}

.menu__item:active, .menu__item:hover {
    color: #de2b24;
}

.menu__delimiter {
    background-color: #424242;
    height: 5px;
    width: 5px;
    border-radius: 50%;
    margin: auto 15px;
}

.header-button {
    width: 171px;
    height: 36px;
    border: none; 
    font-family: "HelveticaNeueCyr", sans-serif;
    font-weight: bold;
    font-size: 15px;
    margin-left: 32px;
}

.red-button {
    background-color: #de2b24;
    border-radius: 3px;
    color: #ffffff;
}

.red-button:hover {
    background-color: #be2822;
}

/* Header Bottom End */

/* Header End */


/* Bunner */

.banner {
    height: 590px;
    width: 100%;
    background: url(../img/banner.png) no-repeat;
}

.banner .conteiner {
    display: block;
    margin: auto;
    padding-top: 177px;
}

.banner__title {
    font-size: 50px;
    color: #ffffff;
    text-align: center;
    font-size: 48px;
    font-family: "HelveticaNeueCyr", sans-serif;
    font-weight: bold;
}

.banner__subtitle {
    margin-top: 13px;
    font-size: 30px;
    color: #ffffff;
    text-align: center;
    font-size: 30px;
    font-family: "HelveticaNeueCyr", sans-serif;
    font-weight: 300;
}

.banner__button {
    display: flex;
    margin-top: 32px;
    justify-content: center;
}

.banner__btn {
    background-color: #f8cd53;
    padding: 26px 41px;
    border: none;
    border-radius: 5px;
    color: #ffffffff;
    font-size: 23px;
    font-family: "HelveticaNeueCyr", sans-serif;
    font-weight: bold;
}

.banner__btn:hover {
    background-color: #e5ba3d;
}

/* Bunner End */


/* About Us */

.about {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #ffffff;
}

.about .conteiner {
    padding: 102px 0 122px 0;
}

.about__row {
    display: flex;
    width: 100%;
    padding-top: 46px;
}

.about__item {
    width: 250px;
    margin: 0 45px;
}

.about__img {
    text-align: center;
    padding-bottom: 28px;
    display: block;
    margin: 0 auto;
}

.about__title {
    text-align: center;
    font-size: 22px;
    font-family: "HelveticaNeueCyr", sans-serif;
    font-weight: bold;
    color: #424242;
}

.about__text {
    margin-top: 14px;
    text-align: center;
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
    font-weight: normal;
    color: #5b5b5b;
    line-height: 22px;
}

/* About Us End */


/* Our Approch */ 

.approch {
    background-color: #f3f3f3;
    width: 100%;
    display: flex;
    justify-content: center;
}

.approch .conteiner {
    padding: 90px 0 132px 0;
}

.approch__wrapper {
    margin-top: 45px;
}

.approch__step-item:nth-last-child(1) {
    margin-bottom: 0;
}

.approch__step-item {
    display: flex;
    margin-bottom: 40px;
}

.approch__img {
    height: 236px;
    width: 341px;
    display: inline-block;
    position: relative;
}

.step-icon {
    height: 101px;
    width: 101px;
    border: 2px solid #ffffff;
    border-radius: 3px;
    background-color: #de2b24;
    position: absolute;
    top: 50%;
}

.step-icon:hover {
    background-color: #be2822;
}

.step-icon--left{
    margin: -52px -52px 0 0;
    right: 0;
}

.step-icon--right {
    margin: -52px 0 0 -52px;  
}

.step-icon__num {
	font-size: 60px;
    font-weight: bold;
    color: #ffffff;
    display: block;
    text-align: center;
    font-style: normal;
}

.step-icon__text {
	font-size: 20px;
    font-family: "Helvetica";
    color: #ffffff;
    display: block;
    text-align: center;
    font-style: normal;
    margin-top: -7px;
}

.description {
    background-color: #ffffff;
    box-shadow: 0 0 1px #b3b3b3;
}

.description__title {
    font-size: 18px;
    font-family: "HelveticaBold", sans-serif;
    font-weight: 600;
    color: #424242;
}

.description__title--right {
    text-align: right;
}

.description__text {
    margin-top: 20px;
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
    font-weight: normal;
    color: #5c5c5c;
    line-height: 22px;
}

.description__text--right {
    text-align: right;
}

.description--left {
    padding: 61px 70px 0 87px;
}

.description--right {
    padding: 61px 87px 0 70px;
}

/* Our Approch End */


/* Our Work */ 

.fa-paper-plane {
    font-style: normal;
    font-size: 36px;
    color: #f9afac;
}

.work {
    display: flex;
    justify-content: center;
    background-color: #de2b24;
}

.work .conteiner {
    padding: 111px 0 128px 0;
    width: 1024px;
}

.work__wrapper {
    padding-top: 47px;
}

.work__row {
    display: flex;
}

.work__item {
    background-color: #f35e59;
    height: 253px;
    text-align: center;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.work__item:hover {
    background-color: #df514c;
}

.work__item img {
    height: 100%;
    width: 100%;
}

.inner__icon {
    text-align: center;
    display: inline-block;
}

.inner__title {
    margin-top: 26px;
    text-align: center;
    font-size: 26px;
    font-family: "HelveticaNeueCyr", sans-serif;
    font-weight: bold;
    color: #ffffff;
    padding: 0 15px;
}

.inner__text {
    margin-top: 3px;
    text-align: center;
    font-size: 16px;
    font-family: "HelveticaNeueCyr", sans-serif;
    font-weight: bold;
    color: #ffffff;
    padding: 0 15px;
}

/* Our Work End */ 


/* FB Analysis */

.fb-analysis {
    background-color: #1287bf;
    display: flex;
    justify-content: center;
}

.fb-analysis .conteiner {
    width: 1024px;
    padding: 100px 0 112px 0;
}

.fb-analysis__icon {
    height: 64px;
    width: 64px;
    border-radius: 50%;
    border: 3px solid #ffffff;
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.fb-analysis__icon img {
    width: 28px;
}

.fb-analysis__icon span {
    color: #ffffff;
}

.fb-analysis__triangle {
    padding: 20px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fb-analysis__triangle::after {
    content: "";
    position: absolute;
    bottom: 0px;
    border: 32px solid transparent;
    border-bottom: 30px solid #ffffff;
}

.form-conteiner {
    width: 683px;
    background-color: #ffffff;
    margin: 0 auto;
}

.form {
    padding: 58px 60px 68px 60px;
}

.form__text {
    text-align: center;
    margin-bottom: 41px;
    font-size: 15px;
    font-family: "HelveticaRegular", sans-serif;
    font-weight: normal;
    color: #828282;
    line-height: 22px;
}

.form__inputs {
    text-align: center;
}

.form__inputs input {
    max-width: 445px;
    width: 100%;
    height: 52px;
    border: 1px solid #d8d8d8;
    border-radius: 3px;
    padding: 0 20px 0 20px;
    margin-bottom: 8px;
    font-family: "HelveticaRegular";
    font-weight: 300;
    font-style: normal;
    font-size: 14px;
    color: #2a2a2a;
    box-sizing: border-box;
}

.form__inputs input:focus, .top-footer__input input:focus {
    border: 1px solid #1287bf;
    box-shadow: 0 0 3px #1287bf;
}

.form__inputs input::placeholder {
    font-family: "HelveticaRegular";
    font-weight: 300;
    font-style: normal;
    font-size: 14px;
    color: #b0b0b0;
}

.form__button {
    display: flex;
    justify-content: center;
}

.form__button button {
    padding: 17px 31px;
    border: none;
    margin-top: 28px;
    font-size: 15px;
    font-family: "HelveticaNeueCyr", sans-serif;
    font-weight: bold;
}

.form__close-button {
    height: 47px;
    width: 47px;
    border-radius: 50%;
    background-color: #de2b24;
    border: 2px solid #ffffff;
    float: right;
    margin: -75px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form__close-button span {
    color: #ffffff;
    font-size: 28px;
    font-family: "HelveticaNeueCyr", sans-serif;
    font-weight: lighter;
    cursor: pointer;
}

.form__close-button:hover {
    background-color: #be2822;
}

/* FB Analysis End */


/* Footer */

/* Footer Top */

.top-footer {
    background-color: #2a2a2a;
    display: flex;
    justify-content: center;
    padding-top: 90px;
    padding-bottom: 84px;
}

.links-group {
    text-align: center;
    margin-top: 29px;
    display: flex;
    justify-content: center;
}

.fa-links-group {
    color: #ffffff;
    font-size: 23px;
}

.links-group__item {
    height: 45px;
    width: 45px;
    border: 2px solid #515151;
    border-radius: 3px;
    margin-right: 14px;
    display: block;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}


.links-group__item:active, .links-group__item:hover, .top-footer__btn button:active, .top-footer__btn button:hover {
    border: 2px solid #de2b24;
}

.top-footer__text {
    display: flex;
    justify-content: center;
}

.top-footer__text p {
    text-align: center;
    color: #cecece;
    margin-top: 35px;
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
    font-weight: normal;
    color: #cecece;
}

.top-footer__input {
    text-align: center;
}

.top-footer__input input {
    margin-top: 30px;
    height: 54px;
    width: 683px;
    padding: 0 22px;
    background-color: #515151;
    border: none;
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
    font-weight: normal;
    color: #ffffff;
    font-weight: 400;
    box-sizing: border-box;
}

.top-footer__input input::placeholder {
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
    font-weight: normal;
    color: #cecece;
    font-weight: 400;
}

.top-footer__btn {
    text-align: center;
    margin-top: 27px;
}

.top-footer__btn button {
    padding: 18px 33px;
    border: 2px solid #515151;
    background-color: transparent;
    color: #ffffff;
    border-radius: 3px;
    font-family: "HelveticaBold";
    font-weight: 300;
    font-style: normal;
    font-size: 17px;
}

/* Footer Top End */

/* Footer Bottom */

.bottom-footer {
    background-color: #515151;
    color: #cecece;
    text-align: center;
    padding: 26px 0 30px 0;
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
    font-weight: normal;
    color: #cecece;   
}

/* Footer Bottom End */

/* Footer End */








/* Media */ 


@media screen and (max-width: 850px) {

    .logo, .menu__delimiter, .header-button {
        display: none;
    }

    .menu {
        position: fixed;
        background-color: #f8cd53;
        z-index: 100;
        padding: 50px 55px;
        margin-left: 0;
        display: flex;
        flex-direction: column;
        height: 100%;
        top: 0;
        transform: translateX(-100%);
        transition: .5s;
    }

    .menu--active {
        transform: translateX(0);
    }

    .menu__item {
        padding: 20px 0;
        font-family: "HelveticaNeueCyr", sans-serif;
        font-weight: bold;
        font-size: 15px;
        color: #424242;
        text-decoration: none;
    }
    
    .menu--active .menu__item:hover {
        color: #de2b24;
    }

    .burger-menu {
        width: 55px;
        height: 55px;
        border-radius: 50%;
        background-color: #f8cd53;
        position: fixed;
        margin-left: 10px;
        margin-top: 10px;
        z-index: 1000;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        transition: .10s all linear;
    }
    
    .burger-menu__line {
        height: 4px;
        width: 25px;
        margin-top: 4px;
        border-radius: 20%;
        background-color: #424242;
        transition: .4s;
    }

    .burger-menu--active {
        background-color: transparent !important;
    }
    
    .burger-menu--active .burger-menu__line {
        height: 4px;
        width: 30px;
        border-radius: 20%;
        background-color: #424242;
    }
    
    .burger-menu--active .burger-menu__line:nth-child(1) {
        transform: translateY(-50%) rotate(45deg);
        position: absolute;
    }
    
    .burger-menu--active .burger-menu__line:nth-child(2) {
        display: none;
    }
    
    .burger-menu--active .burger-menu__line:nth-child(3) {
        transform: translateY(-50%) rotate(-45deg);
        position: absolute;
    }

    .section-name__title, .section-name__subtitle {
        padding: 0 20px;
    }

    .wrapper {
        width: 100%;
    }

    .header-bottom {
        height: 0;
    }

    .contacts {
        margin-right: 10px;
    }

    .social-links {
        display: none;
    }

    .banner {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .banner .conteiner {
        padding-top: 0;
    }

    .about__row {
        flex-direction: column;
    }

    .about__item {
        margin: 30px auto;
    }

    .about .conteiner {
        padding: 70px 0 70px 0;
    }

    .work__row {
        flex-direction: column-reverse;
    }

    .work__item {
        flex: none;
    }

    .work__item img {
        width: auto;
    }

    .work__row--bottom {
        flex-direction: column;
    }

    .work__item:hover {
        background-color: #f35e59;
    }

    .work {
        background-color: #f35e59;
    }

    .work .conteiner {
        padding: 70px 0 70px 0;
    }

    .form {
        padding: 58px 30px 68px 30px;
    }

    .form-conteiner {
        width: 90%;
    }    

    .form__close-button {
        margin-right: -45px;
    }

    .top-footer__input input {
        width: 70%;
    }

    .top-footer__text p {
        width: 300px;
    }

}

@media screen and (max-width: 900px) {

    .step-icon--left {
        margin: 0;
        left: 0;
        top: 0;
    }
    
    .approch__step-item {
        display: flex;
        margin-bottom: 40px;
        flex-direction: column;
        align-items: center;
    }
    
    .description--left {
        padding: 40px 40px;
        margin: 15px 0;
    }

    .description--right {
        padding: 40px 40px;
        margin: 15px 0;
    }
    
    .step-icon {
        border-radius: 0;
    }

    .description {
        width: 100%;
        box-sizing: border-box;
    }
    
    .description__text {
        padding: 0 20px;
    }
    
    .description__title {
        padding: 0 20px;
    }

    .description__text--right {
        text-align: left;
    }

    .description__title--right {
        text-align: left;
    }

    .step-icon--right {
        margin: 0;
        top: 0;
        right: 0;
    }

    .approch__step-item--right {
        flex-direction: column-reverse;
    }

    .approch .conteiner {
        padding: 70px 0 70px 0;
    }

    .fb-analysis .conteiner {
        padding: 70px 0 70px 0;
    }  

}


@media screen and (max-width: 320px) {

    .approch__img img {
        width: 100%;
    }

    .approch__img {
        width: auto;
    }

    .contacts__item {
        margin-left: 10px;
    }

    .contacts__a {
        font-size: 12px;
    }

    .banner__btn {
        padding: 20px 20px;
    }

}